google-oauth2.json

e-learning-service/.idea
e-learning-service/e-learning/target
e-learning-service/e-learning/src/main/resources
e-learning-service/e-learning/.mvn

e-learning-service/media-service/target
e-learning-service/media-service/src/main/resources
e-learning-service/media-service/data/uploads
e-learning-service/media-service/.mvn

e-learning-web/node_modules
e-learning-web/.vscode

argent